/* TO DO */

#subnav.todo {
  background: #77E3E2;
}

#todoAdd {
  width: 100%;
  background: #EEE;
  border-radius: 5px;
  margin: 30px 0;
  padding: 20px;
  display: block;
}

#todoAdd h1 {
  font-size: 16px;
  padding: 0;
  margin: 0 0 10px 0;
}

#todoAdd input {
  width: 95%;
  height: 35px;
  background: #DDD;
  border: none;
  padding-left: 10px;
}

#todoAdd #toDoItemButton {
  width: auto;
  height 35px;
  padding: 0 10px;
  color: #333;
  border-radius: 5px;
  background: #77E3E2;
  float: right;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#todoAdd #toDoItemButton:hover {
  background: #2AB8B7;
}

#todoProgress {
  width: 100%;
  background: #EEE;
  border-radius: 5px;
  margin: 30px 0;
  padding: 20px;
  display: block;
}

#todoProgress h1 {
  font-size: 16px;
  padding: 0;
  margin: 0 0 10px 0;
}

#progressContainer {
  height: 10px;
  width: 100%;
  background: #DDD;
}

#progressBar {
  height: 10px;
  width: 0%;
  background: #77E3E2;
}

#col1 {
  width: 100%;
  height: auto;
  display: inline-block;
}

ul#toDoList {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}

li.personal {
  background-color: #77E3E2;
  min-height: 50px;
  margin-bottom: 1px;
  list-style: none;
}

li.personal:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

li.personal:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.colTitle {
  margin: 0 0 15px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.number {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  background: rgba(0,0,0,0.6);
  text-align: center;
  color: #FFF;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.client {
  width: 78%;
  margin: 16px 0 15px 0;
  font-size: 12px;
  display: inline-block;
}

.todoItem {
  width: 78%;
  margin: 16px 0 15px 0;
  font-size: 12px;
  display: inline-block;
}

.completed {
  background: #CCC!important;
  color: #AAA!important;
}

/* LOADER */

#popUp {
  opacity: 0.8;
  position: absolute;
  width: 90%;
  height: 60%;
  background: #FFF;
  margin: 0 auto;
}

#popUp.loader {
  background-image: url(../images/ripple.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
